Django==5.2.7
psycopg2-binary==2.9.11
python-decouple==3.8
Pillow==12.0.0
pillow-heif==1.1.1
django-allauth==65.12.1
requests==2.32.5
PyJWT==2.10.1
cryptography==46.0.3
unidecode==1.4.0
beautifulsoup4==4.14.2
celery==5.5.3
django-celery-beat==2.8.1
google-cloud-vision==3.11.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.109.0
django-storages==1.14.6
gunicorn==23.0.0
redis==6.4.0
django-ical==1.9.2
chromadb==1.2.1
sentence-transformers==3.1.1
ollama==0.4.1
PyPDF2==3.0.1