{% extends 'base_error.html' %}
{% load i18n %}
{% block title_tag %}{% trans "500 - Error del árbitro" %}{% endblock %}
{% block art_class %}{% endblock %}
{% block art %}{% icon 'x-circle' 'w-12 h-12' %}{% endblock %}
{% block code %}500{% endblock %}
{% block heading %}{% trans "¡El árbitro pita falta!" %}{% endblock %}
{% block subtitle %}{% trans "Hemos tocado la red en el servidor" %}{% endblock %}
{% block quote %}{% trans "¡Rotación incorrecta! Algo salió mal en nuestro lado de la cancha..." %}{% endblock %}
{% block info_title %}{% trans "¿Qué ha pasado?" %}{% endblock %}
{% block info_items %}
                    <li class="flex items-start"><span class="text-brand-text mr-2">&bull;</span><span>{% trans "Nuestro servidor ha cometido un error técnico" %}</span></li>
                    <li class="flex items-start"><span class="text-brand-text mr-2">&bull;</span><span>{% trans "El equipo técnico ha sido notificado automáticamente" %}</span></li>
                    <li class="flex items-start"><span class="text-brand-text mr-2">&bull;</span><span>{% trans "Estamos trabajando para solucionar el problema" %}</span></li>
                    <li class="flex items-start"><span class="text-brand-text mr-2">&bull;</span><span>{% trans "Intenta volver a cargar la página en unos momentos" %}</span></li>
{% endblock %}
{% block actions %}
<a href="{% url 'content:video_list' %}" class="bg-csj-purple-dark hover:opacity-90 text-white font-bold py-3 px-8 rounded-full transition text-center">{% icon 'home' %} {% trans "Volver a Inicio" %}</a>
                <button data-action="reload" class="bg-tint hover:opacity-80 text-ink font-bold py-3 px-8 rounded-full transition text-center">{% icon 'refresh' %} {% trans "Reintentar" %}</button>
{% endblock %}
{% block tip_label %}{% trans "Tiempo muerto técnico:" %}{% endblock %}
{% block tip %}{% trans "El entrenador está dando indicaciones al equipo" %}{% endblock %}
